@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Google Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /*place-items: center;*/
    /*justify-content: center;*/
    min-width: 320px;
    min-height: 100vh;
}